.chat{
	width: 100%;
	height: auto;
	gap:20px;
	background-color: var(--primary-color);
	border-radius: var(--radius);
	height: 100vh;
	align-items:flex-start;
	padding: 15px 15px;
	position: relative;
}