.main_gameoptions{
	height: auto;
	width: 100%;
	background-color: var(--primary-color);
	border-radius: var(--radius);
	padding: 15px;
	justify-content:flex-start;

	.game_header{
		width: 100%;
		height: 150px;
		position: relative;
		border-radius: var(--radius);

		&:after{
			content:'';
			height: 100%;
			width: 100%;
			position: absolute;
			top:0;
			left:0;
			backdrop-filter: saturate(180%) blur(5px);
			background-color: #1f2639a1;
			border-radius: var(--radius);
		}

		.game-wallpaper{
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit:cover;
			border-radius: var(--radius);
		}
		.game-sum {
			position: absolute;
			z-index: 1;
			bottom:15px;
			left:15px;

			@media screen and (max-width: 500px){
				bottom: 10px;
				left:5px;
			}

			.game-icon{
				height: auto;
				width: 40px;
			}
		}
		.add-icon{
			position: absolute;
			top: 15px;
			left: 15px;
			cursor: pointer;
			font-size: 2rem;
			color: var(--white-color);
			z-index: 1;

			@media screen and (max-width: 500px){
				top: 5px;
				left:5px;
			}
		}
	}
	.game-info{
		width: 100%;
		padding:10px 20px; 
		align-items:flex-start;

		@media screen and (max-width:1000px ){
			flex-direction:column;
		}

		.about-game{
			width: 60%;

			@media screen and (max-width:1000px ){
				width: 100%;
			}
		}
		.game-stats{
			width:	40%;
			align-items:flex-start;

			@media screen and (max-width:1000px ){
				width: 100%;
			}
			.styled-table{
			    border-collapse: collapse;
			    font-size: 0.9em;
			    font-family: sans-serif;
			    width: 100%;
			    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

					    .title{
					      tr{
						    background-image: linear-gradient(45deg, var(--blue-color), var(--purple-color));
						    border-radius: var(--radius);
						    color: var(--white-color);
						    text-align: left;
						    }
						}
						thead {
							tr{
								background-color: transparent;
							    color: var(--white-color);
							    border-bottom: 1px solid var(--primary-color-layer3);
							    text-align: left;
							}
						}
						th,td {
						    padding: 12px 15px;
						}
						.period{
						    	 font-weight: bold;
						    }
						tbody{
						    tr{
						    	border-bottom: 1px solid var(--primary-color-layer3);
						    	&:nth-of-type(even){
						    		background-color: var(--primary-color-layer3);
						    	}
						    	&:last-of-type {
						    		border-bottom: 2px solid var(--blue-color);
						    	}
						    }
						}
			}

		}
	}
					.live-games{
						width: 100%;
						height: auto;
						gap:0;

						@media screen and (max-width: 900px){
							display: none;
						}

						.header{
							    background-image: linear-gradient(45deg, var(--blue-color), var(--purple-color));
							    width: calc(100% - 30px);
							    padding: 10px 15px;
							    border-radius: 3px;
							    align-self:center;
							}

						.games-table{
							width:100%;
							background-color: var(--primary-color);
							padding: 8px 15px;

							.onPhone-table-header{
								width: 100%;
								display: none;
								flex-direction:column;
								gap:10px;

								.hidden-tab{
									width: 100%;
									height: 0px;
									overflow: hidden;
									justify-content:center;
									transition:300ms ease-in-out;
								}
								.show{
									height: 150px;
								}

								@media screen and (max-width: 900px){
									display: flex !important; 
								}
							}
							.table-header{
								width: 100%;
								justify-content:flex-start;

								.table-nav{
									padding: 10px 10px;
									border-radius: 3px;
									cursor: pointer;
								}
								.active-nav{
									background-image: linear-gradient(45deg, var(--blue-color), var(--purple-color));

								}

								@media screen and (max-width:900px ){
									display: none;
								}
							}
							.table-key{
								width:97%;
								opacity: 0.7;
								align-self:center;
							}
						}
					}
}


