.support_main{
	width: 100%;
	padding: 15px 0;

	.main_container{
		width: 100%;
		gap:25px;

		.inputs{
			width: 100%;

			.input-area{
				width: 100%;
				resize:vertical;
				min-height: 80px;
				max-height: 100px;
				padding: 10px;
				font-weight: bold;
				outline: none;
				background-color: var(--primary-color-layer3);
				border: none;
				border-bottom: 2px solid var(--blue-color);
				color: var(--white-color);
				border-radius: 2px 2px 0 0;
			}
		}
	}
}