.navbar-main{
	gap:30px;
	height: 50px;
	.active{
		color: var(--blue-color);
		transition:300ms;
	}
	.hide{
		@media screen and (max-width: 800px){
			display: none;
		}
	}
	.rightSide{
		margin-left: auto;
		gap: 10px;

		.active-tab{
			background-color: var(--blue-color) !important;
		}

		.notification{
			font-size: 1.6rem;
			background-color: var(--primary-color);
			padding: 9px 9px 2px 9px;
			border-radius: 50px;
			position: relative;
			cursor: pointer;
			
			.notification-icon{

			}
			.red-dot{
				font-size: 10px;
				height: 15px;
				width: 15px;
				padding: 1px 1px 1px 0;
				border-radius: 50px;
				background-color: var(--red-color);
				position: absolute;	
				right:0;
				top:0;
			}
			.drop-notification{
				position: absolute;
				top: 200px;
				right: 0%;
				height: 100px;
				width: 300px;
				background-color: var(--white-color);
				color:var(--primary-color);
				padding: 10px;
				border-radius: var(--radius);
				font-size: 20px;
				cursor: default;
				opacity: 0;
				transition:300ms ease-in-out;
				z-index: 0;

				.arrow{
					background-color: var(--white-color);
					position: absolute;
					top: -3px;
					right: 11px;
					z-index: 1;
					height: 20px;
					width: 20px;
					transform: rotate(-45deg);

					@media screen and (max-width: 800px){
						right: 108px;
					}
				}

				@media screen and (max-width: 800px){
					right: -50%;
					transform:translate(25%);
				}
			}
			.show-notification{
				z-index: 5;
				opacity: 1;
				top:50px;
			}
		}
		.profile-tab{
			background-color: var(--primary-color);
			padding: 8px;
			border-radius: 50px;
			cursor: pointer;
			position: relative;

			.p-p{
				height: auto;
				width: 35px;
				border-radius: 50px;
			}
			&::after{
					content: '';
					background-color: var(--green-color);
					height: 12px;
					width: 12px;
					border-radius: 50px;
					bottom: 11px;
					right: 150px;
					position: absolute;

					@media screen and (max-width: 800px){
						right: 27px;
						bottom: 9px;
					}
				}
			.user{
				.status{
					color: var(--green-color);
					}

					@media screen and (max-width: 800px){
						display: none;
					}
			}

			@media screen and (max-width: 800px){
					gap:5px;
				}

				.user-drop-down{
					height: 210px;
					width: 200px;
					border-radius: var(--radius);
					padding: 5px;
					background-color: var(--primary-color);
					position: absolute;
					top: 200px;
					right: 0px;
					z-index: 0;
					opacity: 0;
					box-shadow: -3px 3px 5px 1px #0000004a;
					cursor: default;
					transition:300ms ease-in-out;

					.upper{
						width: 100%;
						justify-content:flex-start;
						margin-bottom: 5px;
						padding: 10px 15px;
						border-radius: var(--radius);
						cursor: pointer;

						&:hover{
								background-color: var(--primary-color-layer3);
							}
					}
					.drop-tabs{
						width: 100%;
						padding: 10px 5px;
						gap:5px;

						.tab{
							text-decoration: none;
							color: var(--white-color);
							width: 100%;
							padding: 10px 10px;
							font-size: 0.8rem;

							&:hover{
								background-color: var(--primary-color-layer3);
							}
						}
					}
				}
				.show{
					z-index: 5;
					top: 60px;
					right: 0px;
					opacity: 1;

				}
		}
		.active{
			background-color: transparent;
			background: linear-gradient(45deg,var(--blue-color), var(--purple-color));
			color:var(--white-color);
			.status{
				color: var(--white-color) !important;
			}
		}
	}
}