.security-main{
	width: 100%;
	align-items:center;
	margin: 15px 0;

		.instructs{
			width: 100%;
			margin-bottom: 20px;

			@media screen and (max-width: 800px){
				width: 100%;
			}

			.list{
				margin-left: 30px;
				opacity: 0.8;

				.list-elem{
					font-size: 0.8rem;
				}
			}
		}

		.inputs{
		width: 100%;
		flex-wrap:wrap;
		gap: 10px;
		align-items:center;

		.checkbox{
			padding: 15px;
			transition:300ms ease-in-out;
			border-radius: var(--radius);
			cursor: pointer;
			gap:20px 10px;

			&:hover{
				background-color: var(--primary-color-layer3);
			}
		}
	}
	.apply{
		width: 98%;
		margin-top: 20px;
		justify-content:flex-end;
	}
}