
.overview{
    align-items:flex-start;
    .main-side{
        width: 70%;
        height: auto;
        gap:20px;

        @media screen and (max-width:1100px) {
            width: 100%;
        }
        .dashboard{
            width: 100%;
            height: auto;

            @media screen and (max-width: 900px){
                flex-direction:column;
            }
            
            .balance{
                align-items:center;
                .total{
                    background-color: var(--primary-color-layer3);
                    border-radius: var(--radius);
                    padding: 3px 8px;

                }
                .summary{
                    background-color: var(--primary-color-layer3);
                    border-radius: var(--radius);
                    padding: 3px 8px;

                }
            }
            .trophies{
                align-items:center;
                .t-detail{
                    .t-total{
                        position: relative;

                        .main-tr{
                            color: yellow;
                            position: absolute;
                            bottom: 10px;
                            left: -20px;
                        }
                    }
                    .t-details{

                    }
                }

            }
            .palet{
                width: 50%;
                height: 160px;
                background-color: var(--primary-color);
                padding: 15px;
                border-radius: var(--radius);

                @media screen and (max-width: 900px){
                    width: 100%;
                }
            }
        }
        .history{
            width: 100%;
            border-radius: var(--radius);
            background-color: var(--primary-color);
            padding: 15px;
            align-items:center;

            .table-key{
                width:97%;
                opacity: 0.7;
                align-self:center;
            }
        }
        .hide{
            width: 100%;
            border-radius: var(--radius);
            background-color: var(--primary-color);
            padding: 15px;
            display: none;

            @media screen and (max-width: 1100px){
                display: block;
            }
        }
    }
    .sub-side{
        width: 30%;
        height: auto;
        gap:20px;

        @media screen and (max-width:1100px) {
            display: none;
        }

        .stats{
            width: 100%;
            border-radius: var(--radius);
            background-color: var(--primary-color);
            padding: 15px;
        }
        
            .achievements{
                width: 100%;
                border-radius: var(--radius);
                    background-color: var(--primary-color);
                    padding: 15px;
            }       
    }

    @media screen and (max-width:1100px) {
        flex-direction: column;
    }
}

.section__header{
    background-image: linear-gradient(45deg, var(--blue-color), var(--purple-color));
    width: 100%;
    padding: 7px 15px;
    border-radius: var(--radius);
    margin-bottom: 7px;
}
