.search-main{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 6;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: var(--primary-color);
	transition: 0.4s ease-in-out;
	opacity: 0;
	z-index: -1;
	justify-content:flex-start;
	align-items:center;

	.search_container{
		padding: 50px 0;
		max-width: 400px;
		width: 100%;
		align-items:center;
		gap:45px;

		.close-icon{
			background-color: var(--blue-color);
			font-size: 3rem;
			padding: 12px;
			border-radius: 50px;
		}
		.search{
			width: 100%;
			border:none;
			background-color: transparent;
			border-bottom: 2px solid var(--blue-color);
			padding: 10px 15px;
			outline: none;
			color: white;
			font-weight: bold;
		}
	}
}

.show-search{
	opacity: 1;
	z-index: 10;
}